@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-wyt-border;
  }

  body {
    @apply bg-wyt-bg text-wyt-text font-sans antialiased;
    margin: 0;
    padding: 0;
  }

  #root {
    min-height: 100vh;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
